<div class="my-3">
  <div class="">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{ selectLabel }}</mat-label>
      <mat-select
        [value]="value"
        [disabled]="disabled"
        [id]="selectId"
        [class]="selectClass"
        (selectionChange)="handleSelectionChange($event)"
      >
        <mat-option disabled="true" selected="true" value="">select</mat-option>
        @for (item of items; track $index) {

        <mat-option
          [value]="
            item?.countryName || item?.stateName || item?.cityName || item
          "
          >{{
            item?.countryName || item?.stateName || item?.cityName || item
          }}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
  </div>
  @if (formName.get(controlName)?.value=="" ) {
  <span class="text-red-700 text-sm ml-1">Please {{ selectLabel }}</span>
  }
  <!-- @if (formName1.get(controlName1)?.value=="") {
  <span class="text-red-700 text-sm ml-2 mt-0">Please {{ selectLabel }}</span>
  } -->
</div>
