<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"
          ><img src="../../../assets/images/logo-dark.svg" alt="logo"
        /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0"><b>Login</b></h3>
              <a [routerLink]="['/signup']" class="link-primary"
                >Don't have an account?</a
              >
            </div>
            <div class="form-group mb-3">
              <!-- <label class="form-label" for="email"
                >Email Address<span class="err-msg">*</span></label
              >
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="Email Address"
              />
              @if(loginForm.get('email').hasError('required') &&
              loginForm.get('email').touched){
              <p class="text-red-600 text-sm ml-0">Please Enter Email</p>
              } @if (loginForm.get('email').hasError('pattern') &&
              loginForm.get('email').touched) {
              <p class="text-red-600 text-sm ml-0">Please Enter Valid Email</p>
              } -->
              <app-em-input
                formControlName="email"
                inputType="email"
                inputId="email"
                [formName]="loginForm"
                controlName="email"
                inputPlaceholder="Enter Email Address"
                inputLabel="Email Address"
                inputClass=""
              ></app-em-input>
            </div>

            <div class="form-group mb-3">
              <!-- <label class="form-label" for="password"
                >Password<span class="err-msg">*</span></label
              >
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                value="123456789"
              />
              @if (loginForm.get('password').hasError('required') &&
              loginForm.get('password').touched) {
              <p class="text-red-600 text-sm p-0">Please Enter Password</p>
              } @if (loginForm.get('password').hasError('pattern') &&
              loginForm.get('password').touched) {
              <p class="text-red-600 text-sm ml-0">
                Please Enter Valid Password
              </p>
              } -->
              <app-em-input
                formControlName="password"
                inputType="password"
                inputId="password"
                [formName]="loginForm"
                controlName="password"
                inputPlaceholder="Enter Password"
                inputLabel="Password"
                inputClass=""
              ></app-em-input>
            </div>
            <div class="d-flex mt-1 justify-content-between">
              <div class="form-check">
                <input
                  formControlName="check"
                  class="form-check-input input-primary"
                  type="checkbox"
                  id="customCheckc1"
                  checked=""
                />
                <label class="form-check-label text-muted" for="customCheckc1"
                  >Keep me sign in</label
                >
              </div>
              <h5 class="text-secondary f-w-400">
                <a href="javascript:">Forgot Password?</a>
              </h5>
            </div>
            <div class="d-grid mt-4">
              @if (loginForm.valid) {
              <!-- <button
                (click)="onSubmit()"
                type="button"
                class="btn btn-primary"
              >
                Login</button
              > -->
              <app-em-button (click)="onSubmit()"></app-em-button>} @else {
              <!-- <button
                disabled
                (click)="onSubmit()"
                type="button"
                class="btn btn-primary"
              >
                Login</button
              > -->
              <app-em-disabled-button></app-em-disabled-button>}
            </div>

            <div class="row">
              <!-- @for (item of SignInOptions; track item) {
              <div class="col-4">
                <div class="d-grid">
                  <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                    <img src="{{ item.image }}" alt="google img" />
                    <span class="d-none d-sm-inline-block">{{ item.name }}</span>
                  </button>
                </div>
              </div>
            } -->
            </div>
          </form>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©
            <!-- <a href="https://codedthemes.com/" target="_blank"></a> -->
          </p>
        </div>
        <!-- <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="https://codedthemes.com/" target="_blank">Home</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="https://codedthemes.support-hub.io/" target="_blank">Contact us</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>
