<div class="">
  <div class="my-3">
    <mat-form-field>
      <mat-label>{{ selectLabel }}</mat-label>
      <mat-select
        [value]="value"
        [disabled]="disabled"
        [id]="selectId"
        [class]="selectClass"
        (selectionChange)="handleSelectionChange($event)"
      >
        <mat-option disabled="true" selected="true" value="">select</mat-option>
        @for (item of items; track $index) {

        <mat-option
          [value]="
            item?.country_name || item?.state_name || item?.city_name || item
          "
          >{{
            item?.country_name || item?.state_name || item?.city_name || item
          }}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
    <!-- @if (formName.get(controlName)?.hasError('required') &&
    formName.get(controlName)?.touched) {
    <span class="text-red-700 text-sm ml-2">Please {{selectLabel}}</span>
    } -->
  </div>
  <!-- @if (formName1.get(controlName1)?.value=="") {
  <span class="text-red-700 text-sm ml-2 mt-0">Please {{ selectLabel }}</span>
  } -->
  
</div>
