<!-- <button mat-raised-button>Basic</button> -->
<!-- <button mat-flat-button>Basic</button> -->

  <button mat-fab extended  [style.color]="'white'" [style.width]="'100%'" [style.background-color]="'#1677FF'">
    <!-- <mat-icon>favorite</mat-icon> -->
    Submit
  </button>
<!-- <div class="example-label">Flat</div>
  <div class="example-button-row"> -->
<!-- <button mat-flat-button>Basic</button> -->
<!-- <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div> -->
